.photo_container
{
    // border: 1px solid black;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main_container
{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.span
  {
      display: flex;
      justify-content: center;
      color: red;
      font-weight: 600;
  }
